/*FIRST DANCER ANIMATION*/

<div id="dancer1"><svg id="dance1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.33 75.54" width="100" height="200"><defs>
	<style>.cls-1{fill:#fff;stroke:#000;stroke-miterlimit:10;}
		   .cls-2{animation: col 5s linear infinite;}

@keyframes col 
{
0%, {fill:pink}
50% {fill:pink}
100% {fill:none}
}
</style>
</defs><title>dance1</title><ellipse id="head" class="cls-1" cx="47.87" cy="23.81" rx="4.47" ry="2.74" transform="translate(-9.7 66) rotate(-80.49)"/>
<path id="body" class="cls-1" d="M45.81,27.29,44.36,28.4l-2.3-10.85S41.51,11.17,40,9.38a21.65,21.65,0,0,1-2.53-3.83s0,4.22.64,4.47S40,12.57,40,12.57s1.68,12
.64,2.57,14.05l.77,3.44s0,7.41-2.81,2
.43A92.79,92.79,0,0,1,35.3,20.87L30.19,7,28.66,1.6s-1.79,0-1.28,1.66a28,28,0,0,1,.77,3.19s-2.61,1.27-.86,2.17,3
.28,3.57,3.28,3.57l3.32,10.6s2.94,9.06,3.83,11.42,2.94,4.66,2.94,7.34S41.43,55,41
.43,55s1.53,6.76,2.8,9.44a11.8,11.8,0,0,1,1,5.49s-.68,1.41.55,1.92.6,5.1,2.06,4.21-.57-7.91-.57-7.91L45,58.79S43.
85,47.43,43.85,47s.64-7,.64-7-.13-2.91.89-3.55a10.33,10.33,0,0,0,1.92-1.66l3.06,4
.08,1-8.81,2.68-4.21L51,27.51A5,5,0,0,0,49.47,31c-.13,2.3-.13,3.19-.13,3.19l-2.68-3.32,1.21-2.65Z" transform="translate
(-26.19 -1.1)"/><path id="tutu" class="cls-2" d="M41.41,31.43l6.46,7.88s-.75,7
.65-2.24,6.95-2.73-3.9-2.73-3.9-1.66,2-2.73.09a6.11,6.11,0,0,1-.59-4s-2.63.1-2.44-1.56a4.57,4.57,0,0,0-1.07-3.12s-.8-1.
29.78-1.46S41.41,31.43,41.41,31.43Z" transform="translate(-26.19 -1.1)"/></svg>

/*SECOND DANCER ANIMATION*/